body{
    text-align: center;
    background-color: rgb(230, 210, 210);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h1{
    font-size: 3rem;
    
}
button{
    font-size: 1.5rem;
    padding: 5px 5px ;
    border: none;
    border-radius: 10px;
    background-color: hsl(199, 100%, 66%);
    color: white;
    cursor: pointer;

}
button:hover{
        background-color: hsl(199, 100%, 77%);

}
